streamlit==1.45.1
groq==0.28.0
langchain==1.2.10
langchain-community==0.4.1
langchain-huggingface==1.2.2
langchain-text-splitters==1.1.1
faiss-cpu==1.13.2
sentence-transformers==5.2.3
python-dotenv==1.2.2
PyMuPDF==1.26.0
firebase-admin==7.4.0
easyocr==1.7.2
deep-translator==1.11.4
gTTS==2.5.4
streamlit-mic-recorder==0.0.8